{{#partial "content"}}
    <div class="open">

        <p class='slogan-text text-center'> Add your favorite heroes and squads that complement each other and bring a
        difference in the universe with squad<span class='text-danger'>Unit</span></p>
    </div>

{{/partial}}

{{> layout.hbs}}